<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}

    <!-- the action parameter tells the html file to send post request
         to a particular url-->
    <h1>Enter Your Information</h1>
    <form method="POST" action="/">
        <input type="text" placeholder="first name">
        <input type ="text" placeholder="last name">
        <input type="submit">
    </form>
    <br>

    <span>The Request Method : {{request_method}}</span>
{% endblock %}
</body>
</html>